<% @user ||= current_user %>
<div class="stats">
  <%= link_to t(".following", size: @user.following.size), following_user_path(@user) %>
  <%= link_to t(".followers", size: @user.followers.size), followers_user_path(@user) %>
</div>
