$h2-black: #777;
$logo-fff: #fff;
$gray-25: #555;
$gray-22: #222;
$color-li-a: #A9A9A9;
$gray-medium-light: #eaeaea;
$blue: blue;
$black: black;
$white: white;
$red: red;
$gray: gray;
$bbb: #bbb;
$e8e8e8: #e8e8e8;
